<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
  <thead>
    <tr>
      <th>Namer</th>
      <th>Description</th>
      <th>Price</th>
      <th>Hours</th>
    </tr>
  </thead>
  <tbody>
  <tr th:each="course : ${Course}">
    <th><span th:text="${course.name}"></span></th>
    <th><span th:text="${course.description}"></span></th>
    <th><span th:text="${course.price}"></span></th>
    <th><span th:text="${course.hours}"></span></th>
  </tr>

  </tbody>
</table>


<form action="#" th:action="@{/courses/addcourse}" th:object="${courses}" method="post">
  <input type="text" th:field="*{name}">
  <input type="text" th:field="*{description}">
  <input type="number" th:field="*{price}">
  <input type="number" th:field="*{hours}">
  <input type="submit" value="Guardar">
</form>
</body>
</html>